/* Main */
:root {
    --whitechoco: #EFE7D3;
    --verdant: #dae080;
    --ketchup: #d14c18;
    --sunshine: #f4d68c;
    --sky: #7c9dd2;
    --dusk: #250f12;
}

body {
    background-color: #FFFEF2;
    color: #250f12;
    margin: 0;
    padding: 0;
}

/* Header */
#header {
    width: 100%;
    background-color: #FFFEF2;
    position: sticky;
    top: 0;
    z-index: 100;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

#logo img {
    height: auto;
    width: 100%;
    max-width: 400px;
    display: block;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

#header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    border-top: 2px solid #250f12;
    border-bottom: 2px solid #250f12;
    box-sizing: border-box;
}

/* Navigation */
#nav ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    height: auto;
    justify-content: center
}

#nav li {
    width: auto;
    height: auto;
    padding: 0;
}

nav a {
    font-family: "Libre Baskerville", serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #250f12;
    padding: 8px 16px;
    border-radius: 6px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

nav a.blog:hover {
    background-color: #eeb570;
    color: #250f12;
}

nav a.meetnyc:hover {
    background-color: #7C9DD2;
    color: #250f12;
}

nav a.art:hover {
    background-color: #dae080;
    color: #250f12;
}

nav a.food:hover {
    background-color: #D14C18;
    color: #250f12;
}

nav a.life:hover {
    background-color: #f8e8fa;
    color: #250f12;
}

/* Active page highlighting */
nav a.active-page {
    border: 2px solid var(--dusk);
    background-color: var(--sky);
    color: var(--dusk);
}

/* Hero */
.hero-section {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/nycsunset.gif");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    background-color: var(--whitechoco);
}

.hero-content {
    flex: 1;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.hero-content h1 {
    font-family: "Pinyon Script", cursive;
    font-size: 12vh;
    font-weight: 400;
    color: var(--dusk);
    margin: 0 0 24px 0;
}

.hero-content p {
    font-family: "Raleway", sans-serif;
    font-size: 2vh;
    font-weight: 300;
    color: var(--dusk);
    line-height: 150%;
    margin: 0 0 16px 0;
}

/* Section Container */
.section-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

/* Menu */
.personal-menu {
    background-color: var(--ketchup);
    padding: 60px 40px;
    width: 100%;
    box-sizing: border-box;
}

.personal-menu h2 {
    font-family: "Instrument", serif;
    font-size: 32px;
    font-weight: 400;
    color: var(--sunshine);
    margin-top: 0;
    margin-bottom: 20px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.personal-menu p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--whitechoco);
    line-height: 150%;
    max-width: 100%;
    margin: 24px 0px;
}

.accordion {
  background-color: #f4d68c;
  color: #d14c18;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: 1px solid #EFE7D3;
  text-align: left;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: var(--verdant);
}

.accordion:after {
  color: var(--verdant);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
    background-color: var(--sunshine);

}

.panel {
  padding: 0 18px;
  background-color: var(--verdant);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 0px;
    color: var(--dusk);
    line-height: 150%;
    max-width: 100%;
    margin: 8px 0px;
}

/* Community */
.community-events {
    background-color: var(--sky);
    padding: 60px 40px;
    width: 100%;
    box-sizing: border-box;
}

.community-events h2 {
    font-family: "Instrument", serif;
    font-size: 32px;
    font-weight: 400;
    color: var(--verdant);
    margin-top: 0;
    margin-bottom: 20px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.filterDiv {
  max-width: 248px;
  padding: 16px;
  margin-top: 32px;
  margin-right: 24px;
  background-color: #e1d1e4;
  box-shadow: 0 4px 8px 0 rgba(46, 54, 112, 0.186);
  transition: 0.3s;  
}

.filter-buttons {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.filter-btn {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 8px;
    border: 0px;
    cursor: pointer;
    background-color: transparent;
    color: #D7E3F7;
}

.filter-btn:hover {
    color: var(--whitechoco);
    border-bottom: 2px solid var(--whitechoco);

}

.filter-btn.active {
    color: var(--whitechoco);
        border-bottom: 2px solid var(--whitechoco);
}

.card-container {
  display: inline-flex;
  overflow: hidden;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 248px;
  height: 328px;
  padding: 16px;
  margin-top: 32px;
  margin-right: 24px;
  background-color: #e1d1e4;
  box-shadow: 0 4px 8px 0 rgba(46, 54, 112, 0.186);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(22, 26, 54, 0.186);
}

.card h2 {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--ketchup);
    margin-top: 16px;
    margin-bottom: 8px;
    max-width: 100%;
}

.card p {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--dusk);
    margin-top: 0;
    max-width: 100%;
}


/* Volunteer */
.volunteer {
    background-color: var(--sunshine);
    padding: 60px 40px;
    width: 100%;
    box-sizing: border-box;
}

.volunteer h2 {
    font-family: "Instrument", serif;
    font-size: 32px;
    font-weight: 400;
    color: var(--ketchup);
    margin-top: 0;
    margin-bottom: 20px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.volunteer p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--dusk);
    line-height: 150%;
    max-width: 100%;
    margin: 0 auto;
}
.volunteer-card-container {
  display: inline-flex;
  align-items: flex-center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px 72px;
}

.volunteer-card {
  width: 100%;
  padding: 16px;
  margin-top: 32px;
  margin-right: 48px;
  margin-left: 48px;
  background-color: var(--whitechoco);
}

.volunteer-btn {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 8px;
    border: 0px;
    background-color: var(--verdant);
    color: var(--ketchup);
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(144, 119, 64, 0.156);
}

.volunteer-btn:hover {
    background-color: var(--sunshine);
    box-shadow: 0 2px 6px rgba(144, 119, 64, 0.342);
}

.volunteer-card h2 {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--sky);
    margin-top: 16px;
    margin-bottom: 8px;
    max-width: 100%;
}

.volunteer-card p {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--dusk);
    margin-top: 0;
    margin-bottom: 16px;
    max-width: 100%;
    line-height: 180%;
}


/* Footer */
#footer {
    width: fill-container;
    background-color: #250f12;
    color: #fef2ff;
    padding: 30px 40px;
    border-top: 2px solid #250f12;
    margin-top: 0;
    margin-bottom: 0;
}

#footer p {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
}

#footer p:first-child {
    font-weight: 500;
}


/* Responsive Design */
@media (max-width: 768px) {
    #header-container {
        flex-direction: column;
        gap: 15px;
        padding: 15px 0;
    }

    #nav ul {
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        font-size: 14px;
        padding: 6px 12px;
    }
}

@media (max-width: 480px) {
    #logo-container {
        padding: 12px;
    }

    #logo img {
        height: 50px;
    }

    #header-container {
        padding: 12px 0;
        gap: 12px;
    }

    #nav ul {
        gap: 8px;
    }

    nav a {
        font-size: 12px;
        padding: 5px 10px;
    }
}
